
.content{
  grid-area: content;
}

.item {
  background-color: #efefef;
  padding: 14px;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 1px 7px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 1px 7px 0px rgba(34, 60, 80, 0.2);
  margin-bottom: 15px;
  color: #1d1d1d;
}

.item img {
  width: 50px;
  border-radius: 50%;
}