.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
  
}

.dialogsItems {
  padding: 10px; 
}

.dialogsItems .active{
  color:yellow;
}

.dialog{
  background-color: #efefef;
  padding: 10px;
  margin-bottom: 5px;
}

.messages {

  padding: 10px;
}

.message{
  background: rgb(119, 109, 109);
}